body, h1, h6, p {
  margin: 0;
  padding: 0;
}

.poster {
  width: 770px;
  height: 840px;
  margin: 20px auto;
  padding: 40px 60px;
  border-radius: 6px;
  background: linear-gradient(to left top, #ee7752cf, #e73c7ecf, #23a6d5cf, #23d5abcf);
}

.shadow-practice {
  height: 200px;
  width: 100%;
  line-height: 200px;
  text-align: center;
  font-size: 33px;
  color: #fff;
  letter-spacing: 5px;
  text-shadow: 0 3px #000, 0 5px #000,
               0 7px #000, 0 9px #000,
               0 12px 13px #000;
} 

.font-practice {
  position: relative;
  height: 95px;
  width: 385px;
  line-height: 25px;
  margin: 30px auto;
  padding: 25px 30px;
  border-radius: 4px;
  font-size: 16.5px;
  color: #3d821b;
  background: #fff linear-gradient(-135deg, transparent 16px, #fff 0);
}

.font-practice::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 22px;
  height: 22px;
  background: linear-gradient(to left bottom, transparent 50%, #dfdfdf, #ababab );
}

.layout-practice {
  display: flex;
  justify-content: space-between;
  margin-top: 85px;
}

.layout-box {
  width: 214px;
  height: 142px;
  border: 8px solid #fff;
  background-size: contain;
  overflow: hidden;
}

.empire-state {
  background-image: url(./static/image/empire-state.png);
}

.midtown-flex {
  background-image: url(./static/image/midtown.png);
}

.newyork-flex {
  background-image: url(./static/image/liberty.png);
}

.layout-box:hover .detail{
  display: block;
  cursor: pointer;
}

.detail {
  position: relative;
  display: none;
  width: 184px;
  height: 112px;
  padding: 15px;
  color: #fff;
  text-align: center;
  font-size: 12px;
  font-family: serif;
}

.detail-bkg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: -65px;
  left: -55px;
  transform: rotate(41deg);
  background-color: rgba(0, 0, 0, .4);
  z-index: -1;
}

.detail-title {
  padding: 6px;
}

.detail-line {
  width: 150px;
  margin: 0 auto;
  font-weight: lighter;
  border-bottom: 1px solid rgba(0, 0, 0, .3);
}

.detail-link {
  width: 80px;
  height: 25px;
  line-height: 25px;
  margin: 7px auto;
  background-color: #000;
}

.detail-link > a {
  text-decoration: none;
  color: #fff;
}

 .newyork-detail > p, .newyork-detail > h6 {
  color: #000;
}

.empire-state-detail {
  background-color: rgba(58, 1, 132, 0.44);
}

.midtown-detail {
  z-index: 99;
}

.newyork-detail {
  background-color: #FFF8E8;
}

.multicolumn-practice {
  position: relative;
  width: 398px;
  height: 108px;
  margin: 75px auto 0;
  padding: 20px 15px;
  background-color: #fff;
  font-family: serif;
  font-size: 12px;
  column-count: 3;
  column-gap: 15px;
  word-break: break-all;
}

.multicolumn-practice > p {
  margin-bottom: 6px;
}

.multicolumn-practice::before {
  content: "";
  position: absolute;
  top: -32px;
  left: 180px;
  width: 0;
  height: 0;
  border: 16px solid transparent;
  border-bottom-color: #fff;
}


